openapi: '3.0.1'
info:
  version: '1.0.0'
  title: Checkout.com API Reference
  x-logo:
    url: "https://assets.checkout.com/docs/logos/logo-checkout-api-dark.svg"
    backgroundColor: "#E6E7EC"
    altText: "Checkout.com API logo"
  contact:
    name: Checkout.com Support
    url: 'https://checkout.com'
    email: support@checkout.com
  license:
    name: Checkout.com
    url: 'https://checkout.com/api/license/'
  termsOfService: 'https://checkout.com/terms/'
  description: >
    # Introduction

    Checkout.com provides a collection of APIs that enable you to process and manage payments.  
    

    Our APIs accept and return JSON in the HTTP body and return HTTP response codes to indicate errors. You can consume the APIs directly using your favorite HTTP/REST library or make use of one of our <a href="https://docs.checkout.com/quickstart/integrate/sdks" target="_blank">SDKs</a>.  


    Our unified payments API allows you to accept payments from cards, digital wallets and the most popular alternative payment methods, as well as pay out to a variety of destinations, all using the same integration.


    And with our webhook management, events and disputes APIs, you can keep on top of your transactions and react to any chargebacks, keeping your business running smoothly.

    # Authentication

    When you sign up for an account, you are given a secret and public API key
    pair. You authenticate with our API by providing the appropriate key in
    the request Authorization header.


    Never share your secret keys. Keep them guarded and secure.
externalDocs:
  description: For specific guidance and use cases see out documentation.
  url: https://docs.checkout.com
servers:
  - url: https://api.checkout.com
    description: Live API
  - url: https://api.sandbox.checkout.com
    description: Sandbox API
paths:
  '/customers/{id}':
    $ref: './spec/paths/customer@{id}.yaml'
  '/disputes':
    $ref: './spec/paths/disputes.yaml'
  '/disputes/{dispute_id}':
    $ref: './spec/paths/disputes@{dispute_id}.yaml'
  '/disputes/{dispute_id}/accept':
    $ref: './spec/paths/disputes@{dispute_id}@accept.yaml'
  '/disputes/{dispute_id}/evidence':
    $ref: './spec/paths/disputes@{dispute_id}@evidence.yaml'
  '/event-types':
    $ref: './spec/paths/event-types.yaml'
  '/events/{eventId}':
    $ref: './spec/paths/events@{eventId}.yaml'
  '/events/{eventId}/notifications/{notificationsId}':
    $ref: './spec/paths/events@{eventId}@notifications@{notificationsId}.yaml'
  '/events/{eventId}/webhooks/{webhookId}/retry':
    $ref: 'spec/paths/events@{eventId}@webhooks@{webhookId}@retry.yaml'
  '/events/{eventId}/webhooks/retry.yaml':
    $ref: 'spec/paths/events@{eventId}@webhooks@retry.yaml'
  '/files':
    $ref: 'spec/paths/files.yaml'
  '/files/{file_id}':
    $ref: '/spec/paths/files@{file_id}.yaml'
  '/hosted-payments':
    $ref: 'spec/paths/hosted-payments.yaml'
  '/instruments':
    $ref: '/spec/paths/instruments.yaml'
  '/instruments/{id}':
    $ref: '/spec/paths/instruments@{id}.yaml'
  '/payment-links':
    $ref: './spec/paths/payment-links.yaml'
  '/payments':
    $ref: './spec/paths/payments/yaml'
  '/payments/{id}':
    $ref: './spec/paths/payments@{id}.yaml'
  '/payments/{id}/actions':
    $ref: './spec/paths/payments@{id}@actions.yaml'
  '/payments/{id}/captures':
    $ref: './spec/paths/payments@{id}@captures.yaml'
  '/payments/{id}/refunds':
    $ref: './spec/paths/payments@{id}@refunds.yaml'
  '/payments/{id}/voids':
    $ref: './spec/paths/payments@{id}@voids.yaml'
  '/reporting/payments':
    $ref: './spec/paths/reporting@payments.yaml'
  '/reporting/payments/{paymentId}':
    $ref: './spec/paths/reporting@payments@{paymentId}.yaml'
  '/reporting/payments/download':
    $ref: '.spec/paths/reporting@payments@download.yaml'
  '/reporting/statements':
    $ref: './spec/paths/reporting@statements.yaml'
  '/reporting/statements/{StatementId}':
    $ref: '.spec/paths/reporting@statements@{StatementId}.yaml'
  '/reporting/statements/download':
    $ref: './spec/paths/reporting@statements@download.yaml'
  '/sources':
    $ref: './spec/paths/sources.yaml'
  '/tokens':
    $ref: './spec/paths/tokens.yaml'
  '/webhooks':
    $ref: 'spec/paths/webhooks.yaml'
  '/webhooks/{id}':
    $ref: 'spec/paths/webhooks@{id}.yaml'
tags:
  - name: Payments
    description: Process and manage payments from a variety of sources and to various destinations all within one integration.
  - name: Payment Links
    description: Create a Payment Link to accept and process payment details.
  - name: Hosted Payments Page
    description: Create a Hosted Payments Page to accept and process payment details.
  - name: Sources
    description: Create a payment source for a customer that you can use for one or more payments.
  - name: Tokens
    description: Create a token that represents a card's details (or their tokenized form in a digital wallet) that you can later use to request a payment, without you having to process or store any sensitive information.
  - name: Instruments
    description: Create a payment instrument that you can later use as the source or destination for one or more payments.
  - name: Webhooks
    description: Create and manage the webhook notifications you receive to keep up to date with the status of your transactions.
  - name: Events
    description: Use events to monitor and get insights into your transactions.
  - name: Disputes
    description: Keep track of and act on your open disputes (also known as chargebacks) to submit the best possible response.
  # - name: Files
  #   description: |
  #     Upload files to be used as input to other APIs
# x-tagGroups:
#   - name: Gateway
#     tags:
#       - Payments
#       - Tokens
#       - Sources
#       - Files
#   - name: Broadcast
#     tags:
#       - Events
#       - Webhooks
